Repository Guboneui/GuestHoust-User, pull requests merged in 2024-03, with the labels that each got.

#66 사이드바 생성 시 채택할 `SideBarPresentable` 프로토콜 생성
  DesignSystem/Sources/SideBar/SideBarPresentable.swift
Labels: DesignSystem

#68 변경된 컬러 테마 기존 코드에 적용
  DesignSystem/Sources/BottomSheets/DimModalBottomSheet/DimModalPresentable.swift
  DesignSystem/Sources/Buttons/DefaultButton.swift
  DesignSystem/Sources/Buttons/TwoButton.swift
  DesignSystem/Sources/Extensions/View+Extension.swift
  DesignSystem/Sources/HeaderSlideView/HeaderSlideView.swift
  DesignSystem/Sources/NavigationBar/NavigationBar.swift
  DesignSystem/Sources/PhoneNumberInputView/PhoneNumberInputView.swift
  DesignSystem/Sources/ProgressBar/PageController.swift
  DesignSystem/Sources/SideBar/SideBarPresentable.swift
  DesignSystem/Sources/TextFields/DefaultTextField.swift
  DesignSystem/Sources/TextFields/IconBorderTextField.swift
  DesignSystem/Sources/TextFields/IconTextField.swift
  Feature/Chatting/DemoApp/Sources/ChattingDemoAppRootViewController.swift
  Feature/Chatting/Sources/ChattingRoom/Cell/ChatByFriendCell.swift
  Feature/Chatting/Sources/ChattingRoom/Cell/ChatByFriendWithProfileImageCell.swift
  Feature/Chatting/Sources/ChattingRoom/Cell/ChatByOwnerCell.swift
  Feature/Chatting/Sources/ChattingRoom/View/ChattingRoomView.swift
  Feature/Login/Sources/Email/Login/EmailLogin/EmailLoginViewController.swift
  Feature/Login/Sources/Email/Signup/EmailSignupID/EmailSignupIDViewController.swift
  Feature/Login/Sources/Email/Signup/EmailSignupName/EditProfileImageAtSignupViewController.swift
  Feature/Login/Sources/Email/Signup/EmailSignupName/EmailSignupNameViewController.swift
  Feature/Login/Sources/Email/Signup/EmailSignupPW/EmailSignupPWViewController.swift
  Feature/Login/Sources/Email/Signup/EmailSignupPhone/EmailSignupPhoneViewController.swift
  Feature/Login/Sources/LoginViewController.swift
Labels: DesignSystem

#60 네이버맵 추가 및 숙소 리스트 UI 추가
  Feature/Map/Sources/Map/Cell/MapCollectionViewCell.swift
  Feature/Map/Sources/Map/View/MapView.swift
  Feature/Map/Sources/Map/View/MapViewController.swift
  Feature/Map/Sources/Map/ViewModel/MapViewModel.swift
  Feature/Map/Sources/MapView.swift
  Feature/Map/Sources/MapViewController.swift
  ResourceKit/Resources/Image/Image.xcassets/calendar.imageset/Contents.json
  ResourceKit/Resources/Image/Image.xcassets/calendar.imageset/calendar.png
  ResourceKit/Resources/Image/Image.xcassets/calendar.imageset/calendar@2x.png
  ResourceKit/Resources/Image/Image.xcassets/calendar.imageset/calendar@3x.png
  ResourceKit/Resources/Image/Image.xcassets/filter.imageset/Contents.json
  ResourceKit/Resources/Image/Image.xcassets/filter.imageset/filter.png
  ResourceKit/Resources/Image/Image.xcassets/filter.imageset/filter@2x.png
  ResourceKit/Resources/Image/Image.xcassets/filter.imageset/filter@3x.png
  ResourceKit/Resources/Image/Image.xcassets/houseList.imageset/Contents.json
  ResourceKit/Resources/Image/Image.xcassets/houseList.imageset/guestHouseList.png
  ResourceKit/Resources/Image/Image.xcassets/houseList.imageset/guestHouseList@2x.png
  ResourceKit/Resources/Image/Image.xcassets/houseList.imageset/guestHouseList@3x.png
  ResourceKit/Resources/Image/Image.xcassets/locationMarker.imageset/Contents.json
  ResourceKit/Resources/Image/Image.xcassets/locationMarker.imageset/gusetHouseLocation.png
  ResourceKit/Resources/Image/Image.xcassets/locationMarker.imageset/gusetHouseLocation@2x.png
  ResourceKit/Resources/Image/Image.xcassets/locationMarker.imageset/gusetHouseLocation@3x.png
  ResourceKit/Resources/Image/Image.xcassets/rating.imageset/Contents.json
  ResourceKit/Resources/Image/Image.xcassets/rating.imageset/guestHouseRating.png
  ResourceKit/Resources/Image/Image.xcassets/rating.imageset/guestHouseRating@2x.png
  ResourceKit/Resources/Image/Image.xcassets/rating.imageset/guestHouseRating@3x.png
  ResourceKit/Resources/Image/Image.xcassets/userLocation.imageset/Contents.json
  ResourceKit/Resources/Image/Image.xcassets/userLocation.imageset/userLocation.png
  ResourceKit/Resources/Image/Image.xcassets/userLocation.imageset/userLocation@2x.png
  ResourceKit/Resources/Image/Image.xcassets/userLocation.imageset/userLocation@3x.png
  ResourceKit/Sources/UIImage+Extension/UIImage+Extension.swift
Labels: Feature, 민희

#69 채팅 구현
  Data/ChattingData/Sources/Chat/ChatRepository.swift
  Data/ChattingData/Sources/Source.swift
  Data/ChattingData/Sources/TestTokenRespository.swift
  Domain/ChattingDomain/Sources/Interfaces/ChatRepositoryInterface.swift
  Domain/ChattingDomain/Sources/Interfaces/TestTokenRespositoryInterface.swift
  Domain/ChattingDomain/Sources/Source.swift
  Domain/ChattingDomain/Sources/UseCases/Chat/ChatUseCase.swift
  Domain/ChattingDomain/Sources/UseCases/Protocol/ChatUseCaseInterface.swift
  Entity/ChattingEntity/Sources/Channel/ChannelListResponse.swift
  Entity/ChattingEntity/Sources/Channel/ChannelMemberListResponse.swift
  Entity/ChattingEntity/Sources/Channel/MessageHistoryResponse.swift
  Entity/ChattingEntity/Sources/DTO/ChannelInfoDTO.swift
  Entity/ChattingEntity/Sources/DTO/MemberInfoDTO.swift
  Entity/ChattingEntity/Sources/Message/ReceiveMessage.swift
  Entity/ChattingEntity/Sources/Message/SendMessage.swift
  Entity/ChattingEntity/Sources/Source.swift
  Entity/ChattingEntity/Sources/TestTokenResponse.swift
  Feature/Chatting/DemoApp/Sources/ChattingDemoAppRootViewController.swift
  Feature/Chatting/Sources/ChatList/Cell/ChannelListCell.swift
  Feature/Chatting/Sources/ChatList/View/ChannelListView.swift
  Feature/Chatting/Sources/ChatList/View/ChannelListViewController.swift
  Feature/Chatting/Sources/ChatList/ViewModel/ChannelListViewModel.swift
  Feature/Chatting/Sources/ChatRoom/Cell/ChatByFriendCell.swift
  Feature/Chatting/Sources/ChatRoom/Cell/ChatByFriendWithProfileImageCell.swift
  Feature/Chatting/Sources/ChatRoom/Cell/ChatByOwnerCell.swift
  Feature/Chatting/Sources/ChatRoom/NavigationBar/Sidebar/Cell/JoinMemberListCell.swift
  Feature/Chatting/Sources/ChatRoom/NavigationBar/Sidebar/View/ChatRoomSidebarView.swift
  Feature/Chatting/Sources/ChatRoom/NavigationBar/Sidebar/View/ChatRoomSidebarViewController.swift
  Feature/Chatting/Sources/ChatRoom/NavigationBar/Sidebar/ViewModel/ChatRoomSidebarViewModel.swift
  Feature/Chatting/Sources/ChatRoom/NavigationBar/View/ChatRoomNavigationBar.swift
  Feature/Chatting/Sources/ChatRoom/View/ChatRoomView.swift
  Feature/Chatting/Sources/ChatRoom/View/ChatRoomViewController.swift
  Feature/Chatting/Sources/ChatRoom/ViewModel/ChatRoomViewModel.swift
  Feature/Chatting/Sources/ChattingRoom/View/ChattingRoomViewController.swift
  Feature/Chatting/Sources/ChattingRoom/ViewModel/ChattingRoomViewModel.swift
  Network/ChattingNetwork/Sources/Chat/ChatSoketIOManager.swift
  Network/ChattingNetwork/Sources/Chat/RestAPI/ChatAPI.swift
  Network/ChattingNetwork/Sources/Chat/RestAPI/ChatAPIInfo.swift
  Network/ChattingNetwork/Sources/Source.swift
  Network/ChattingNetwork/Sources/TestTokenAPI.swift
Labels: 동겸, Feature
